<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoftAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/SoftAdmin.styles.css" asp-append-version="true" />
</head>
<body>
    @* <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@

    <!-- Page Wrapper -->
    <div id="wrapper">
        @Html.Partial("_Navigation")

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                @Html.Partial("_TopNav")
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>



   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SoftAdmin - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/chart.min.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>